<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

.form-wrapper {
  margin: 0 auto;
  background-color: orange;
  padding: 25px;
  width: 90%;
  border-style: groove;
  border: 5px;
  font-family: 'Playfair Display', serif;
}
.form-background {
	margin: 0 auto;
	background-color: silver;
	width: 75%;
	border-style: groove;
  	border: 5px;
  	font-family: 'Playfair Display', serif;
}

legend {
	font-size: 2.5em;
}