.wrapper {
  margin: 0 auto;
  background-image: url("/images/light-wood.jpg");
  padding: 25px;
  width: 90%;
  border-style: groove;
  border: 5px;
}
.art-box{
	padding: 10px;
	border: 5px;
	background-color: silver;
	border-style: groove;
}
.artmarket{
	background-color: silver;
	padding-left: 50px;
	font-size: 1.5em;
}
.centered{
	text-align: center;
}
p {
	font-size: 1.75em;
	word-wrap: break-word;
}
img {
    width: 100%;
    height: auto;
}
body {
	 background-image: url("/images/white-wood.jpg");
	 font-family: 'Playfair Display', serif;
}
