<%if @create == true%>
	<div class="alert alert-success">
	  <strong>Artwork posted!</strong>
	</div>
<%end%>
<%if @deleted == true%>
	<div class="alert alert-success">
	  <strong>Artwork deleted</strong>
	</div>
<%end%>
<h1>All Art Works in the Art Market</h1>
<% Artwork.all.each do |art|%>
	<div class="row">
	  <div class="col-sm-4 col-centered">
		<h1><%=art.name%></h1>
		<img src="<%= "images/#{art.img}" %>" alt="<%= art.name%>" width="300" height="300">
	  </div>
	</div>
<%end%>