<%if @create == true%>
	<div class="alert alert-success">
	  <strong>Success!</strong>
	</div>
<%end%>
<h1>All Art Works in the Art Market</h1>
<% Artwork.all.each do |art|%>
	<div class="row">
	  <div class="col-sm-4 col-centered">
		<h1><%=art.name%></h1>
	  </div>
	</div>
<%end%>