
<form action="/users/<%="#{@user.id}"%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch"> 
  <br></br> 
    <fieldset>
        <legend>Password</legend>

        <input type="password" placeholder="Password" id="password" required name = "user[password]" minlength="6">
        <input type="password" placeholder="Confirm Password" id="confirmed_password" minlength="6" required oninput="check(this)">
        <script language='javascript' type='text/javascript'>
	    	function check(input) {
		        if (input.value != document.getElementById('password').value) {
		            input.setCustomValidity('Password Must be Matching. Please try again.');
		        } else {
		            input.setCustomValidity('');
		        }
	   		 }
		</script>
    </fieldset>
  <br></br>
  <input type="submit" value="Submit">
</form>