<div class="row">
	<div class="col-sm-4">
	  	<%="Name: #{@user.name}"%>
	  	<br>
	  	<%="Email: #{@user.email}"%>
	 </div>
	 <br><br>
	<div class="col-sm-4">
	  	<%="Biography: #{@user.bio}"%>
	 </div>	 
	 <br><br>
	 <%if Helpers.current_user(session) == @user.id%>
	 	<a href="/users/#{@user.id}/edit_profile">Edit Profile</a>
	 	<a href="/users/#{@user.id}/change_password">Change Password</a>
	 <%end%>
</div>