<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<%if @create == true%>
	<div class="alert alert-success">
	  <strong>Success!</strong>
	</div>
<%end%>
<h1>All Art Market Users</h1>
<% User.all.each do |user|%>
	<div class="row">
	  <div class="col-sm-4 col-centered">
	  	<%if user.id != session[:user_id]%>
			<h1><%=user.name%></h1>
		<%end%>
	  </div>
	</div>
<%end%>