
<!doctype html>
<html>
  <head>
  <nav class="navbar">
    <span class="navbar-artmarket">Current User:

      <%if Helpers.is_logged_in?(session)%>
        <% @user = Helpers.current_user(session) %>
        <%=@user.name%>
      <%end%>
      <br>
      <a href="/users/logout">Logout</a>
      </span>
  </nav>
  </head>
  <%= yield %>
</html>