<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<!doctype html>
<html>
  <head>
  <nav class="navbar">
    <span class="navbar-artmarket">

      <%if Helpers.is_logged_in?(session)%>
        Current User:
        <% @user = Helpers.current_user(session) %>
        <%=" #{@user.name}"%>
        <br> |
        <a href="/users/<%="#{@user.id}"%>">Your Profile</a> | 
        <a href="/artworks/new">Post new Artwork</a> | 
        <a href="/artworks">Home</a> | 
        <br>
        <a href="/users/logout">Logout</a>
      <%else%>
        <a href="/users/login">Login</a>
      <%end%>
      </span>
  </nav>
  </head>
  <body>
  <%= yield %>
</body>
</html>